#mainPanel{
-fx-background-color:#000000;
}

#mainLabel{
-fx-effect: dropshadow(GAUSSIAN, #ea493b, 10, 0.1, 0.0, 0.0);
-fx-text-fill: linear-gradient(from 25% 25% to 100% 100%, #ea493b, #f3903f);
}

#buttons{
-fx-effect: dropshadow(GAUSSIAN, #ea493b, 10, 0.1, 0.0, 0.0);
-fx-background-color:none;
-fx-text-fill: linear-gradient(from 25% 25% to 100% 100%, #ea493b, #f3903f);
-fx-font-size:28px;
}
#buttons:hover{
-fx-font-weight:bold;
}

#image{
-fx-effect: dropshadow(GAUSSIAN, #ea493b, 10, 0.1, 0.0, 0.0);
}

#imgButton{
-fx-text-fill:#ffffff;
-fx-font-weight:bold;
-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ea493b, #f3903f);
}
#imgButton:hover{
-fx-effect: dropshadow(GAUSSIAN, #ea493b, 10, 0.1, 0.0, 0.0);
}

#genButton{
-fx-text-fill:#ffffff;
-fx-font-weight:bold;
-fx-font-size:24px;
-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ea493b, #f3903f);
}
#genButton:hover{
-fx-effect: dropshadow(GAUSSIAN, #ea493b, 10, 0.1, 0.0, 0.0);
}